html{
  background-color: #510399;
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
}
 
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0; 
}

form{
  width: 350px; 
  background-color: #ecf0f1;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #333; 
  margin-top: 30px;
  padding: 15px 15px; 
}

.form-info{
  display: flex;
  justify-content: space-between;

}

input, label{
  display: block;
  width: 100%;
  box-sizing: border-box;
}

label{
  padding: .35em;
}

#botao{
  margin-top: .55em;
  width: fit-content;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background-color: #0808b9;
}

#botao:hover{
  background-color: #fff;
  color: #0808b9;
  font-weight: bold;
}

.field{
  border: none;
}

input{
  padding: .75em;
  border-radius: 5px;
  margin-bottom: 1.5em;
  border: 1px solid #bbb;
  font-size: 1em;
}

h1{  
  font-weight: bold;
  color: #454e4f;
  font-size: 1.2em;
  margin-bottom: .5em;
}

.checkbox{
  opacity: 0; 
}

.label{
  background-color: #111111;
  border-radius: 50px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
 transform: scale(1.5);
}