html{ 
  font-family: "Helvetica", Arial, Helvetica, sans-serif;
}
 
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0; 
}

body.dark{
background: #000;
}

form{
  width: 350px; 
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #333; 
  margin-top: 30px;
  padding: 15px 10px; 
}

.form-info{ 
  display: flex;
}

input, label{
  display: block;
  width: 90%;
  box-sizing: border-box;
}

label{
  padding: .35em;
}

#botao{
  margin-top: .55em;
  width: fit-content;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background-color: #0808b9;
}

#botao:hover{
  background-color: #fff;
  color: #0808b9;
  font-weight: bold;
}

.field{
  border: none;
}

input{
  padding: .75em;
  border-radius: 5px;
  margin-bottom: 1.5em;
  border: 1px solid #bbb;
  font-size: 1em;
}

h1{  
  font-weight: bold;
  color: #454e4f;
  font-size: 1em;
  margin-bottom: .5em;
}

.checkbox{
  opacity: 0; 
}

.label{
  background-color: #111111;
  border-radius: 50px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
 
  padding: 5px;
  position: relative;
  height: 24px;
  width: 61px;
  margin-right: 30px; 
 transform: scale(1.5);
}

#nome{
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid #000;
}

.label .bola{
  background-color: #ffffff;
  border-radius: 50px;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 20px;
  width: 22px; 
  transform: translateX(0px);
  transition: transform 0.2s linear;
} 


 .input-field{
display: flex;   
align-items: center;
 }

 .fa-user{
  display: flex;
  align-items: center;
 }
  
 .checkbox:checked + .label .bola{
  transform: translateX(20px);
}

.fa-moon{
  color: #f1c40f;
}

.fa-sun{
  color: #f39c12;
}